/* Layout ------------------------------------------------------------------*/
@import "compass";
@import "variables";

@import "base";
@import "susy";


		
		

//-----------

.subjectContainer {
  @include container;
 // @include susy-grid-background;
  height: 100%;



  .sectionSummary {
	@include columns(4);
	margin-top:		$topDistance;
	margin-left: 	columns(1);
	//float: left;
}


.categoryDiv{
	margin-top:		$topDistance;
	@include columns(5);
	//gutter-position: before;
	margin-left: columns(1);
}


.pJDisplay{
//@include susy-grid-background;
	@include columns(24);
	@include box-flex(1);

}
 

 .imageSection{

	@include columns(10);
	margin-left: columns(6);
	max-height:600px;

	#slides {
		@include display-box;
 		@include box-orient(horizontal);
  		@include box-align(stretch);
  		@include box-direction(reverse);
		@include columns (10);
		display: inline-block;

		img {
			//@include box-flex(4);
			max-width: 500px;
		}

		.imageDetails {
			//@include box-flex(1);
		}
	}
}
 
 .projectDescription{

	@include columns(6);
}
 

}
