/* Layout ------------------------------------------------------------------*/
@import "compass";
@import "variables";

@import "base";
@import "susy";


		
		

//-----------

.subjectContainer {
  @include container;
 // @include susy-grid-background;
  height: 100%;



  .sectionSummary {
	@include columns(4);
	margin-top:		$topDistance;
	margin-left: 	columns(1);
	//float: left;
}


.categoryDiv{
	margin-top:		$topDistance;
	@include columns(5);
	//gutter-position: before;
	margin-left: columns(1);
}


.pJDisplay{
//@include susy-grid-background;
	@include columns(24);
	//@include box-flex(1);

}
 
.thumbnailDiv {
	 @include columns(6);
 	margin-left: columns(3);
	
	.thumbnail{
		//width: 80px;
	}
}

 .imageSection{

	@include columns(10);
	// margin-left: columns(6);
	max-height:600px;
		@include display-box;
 		@include box-orient(horizontal);
  		@include box-align(stretch);
  		display: inline-flex;




	#slides {
		@include display-box;
 		@include box-orient(horizontal);
  		@include box-align(stretch);
  		@include box-direction(reverse);
		@include columns (10);
		display: inline-block;

	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-left: columns(5);

		img {
			@include box-flex(4);
			max-width: 500px;
		}





		.imageDetails {
			@include box-flex(1);
		}
	}

}
 
 .projectDescription{

	@include columns(6);
	float: right;
	margin-right: 4rem;
}
 

}
