@import "compass";
@import "susy";
@import "variables";
@import "mixins";
@import "base";
@import "layout";


.skillsDiv{
	//height: 5rem;
}

text {
	font-family: 		$font-primary;
	font-size: 2rem;
	text-anchor: middle;
}