// colors

$magenta				: #ff00ff;
$black					: #000000;
$white					: #ffffff;
$midSquareWidth			: 40px;
$smallSquareWidth		: 20px;



//portfolio.measurements----------- -- --- - - -

$topDistance			: 3rem;

