<% category = @category %>

<% if category.skills.svg.size > 0 %>
<div class = "skillsDiv" id = "svgSkills"> 
	<h1> SVG </h1>
<%# category.skills.svg.each do |skill| %>
							
								<%#= skill.name %>
							


							<%# end %>  
							</div>
							<%end%>



<% if category.skills.styling.size > 0 %>
<div class = "skillsDiv" id = "stylingSkills"> 
	<h1> STYLING </h1>
<%# category.skills.styling.each do |skill| %>
							
								<%#= skill.name %>
							
							
								<%# end %>
								</div> 
								<%end%>

<% if category.skills.scripting.size > 0 %>
<div class = "skillsDiv" id = "scriptingSkills"> 
	<h1> SCRIPTING </h1>

<%# category.skills.scripting.each do |skill| %>
							
								<%#= skill.name %>
							
							
								<%# end %>
								</div>
								<%end%>


<% if category.skills.framework.size > 0 %>
<div class = "skillsDiv" id = "frameworkSkills">
	<h1> FRAMEWORKS/PROGRAMMING LANGUAGES </h1>
<%# category.skills.framework.each do |skill| %>
							 
								<%#= skill.name %>
							
							
								<%# end %>
								</div> 
								<%end%>


<% if category.skills.software.size > 0 %>
<div class = "skillsDiv" id = "softwareSkills"> 
	<h1> SOFTWARE ENGINEERING </h1>
<%# category.skills.software.each do |skill| %>
							
								<%# skill.name %>
							
							
								<%# end %>
</div> 
<%end%>