

<section class ="subjectSection" id= "topHome" >
	<div class= "subjectContainer" id = "topContainer" >
		<div id = "titleSection">
			<p id = "pageTitle"> theory friction practice <br> art<span class = "slashDelimiter"> //</span>design<span class = "slashDelimiter"> //</span>development </p>
		</div>
		
		

		<!--
		<ul class = "sectionsList">
			
			<%# @subjects.portfolio.each do |subject| %>
											<li class ="topList"> 
												<h1><%# subject.name.upcase %></h1> 
											</li>
										<%# end %>
									
		</ul>						
				

		</div>

		--><!--//subjectSummary-->	

		
				

		
		
		
	 <!-- subjectContainer -->
</section>

<% sortedSubjects = @subjects.portfolio.sort_by {|subject| subject.name.downcase } %>
<% sortedSubjects.each do |subject| %>

<% @subject = subject %>

<%= render 'portfolio/subject', object: @subject %>



<%end%>

<section class = "subjectSection" id="resumeSection">
	<div class= "subjectContainer" id = "resumeContainer" >
		<%# image_tag "resume0.png" %>
	</div>

</section>

